.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

h1, h2 {
    color: #6841D2;
}

.support-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 21px;
    margin-bottom: 6px;
    margin-top: 21px;
}

.support-option {
    flex-basis: calc(50% - 10px);
    background: #7657ca;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.support-option h3 {
    margin-top: 0;
    margin-bottom: 7px;
}

.support-option a, .support-option p {
    color: #ffffff;
    text-decoration: none;
    padding: 1px;
}

.map {
    width: 100%;
    height: 276px;
    background-color: #ddd;
    margin-bottom: 20px;
    border-radius: 8px;
}

.map iframe {
    width: 100%;
    height: 272px;
}

.faq {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.faq-item {
    border-bottom: 1px solid #000000;
    padding: 10px 0;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-answer {
    display: none;
    padding-top: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

.close {
    color: #ca0202;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 3px;
    border: 1px solid #850000;
    border-radius: 4px;
}

.form-group button {
    background-color: #CF0A7E;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #45a049;
}

u {

    color: #FFFFFF;
}